body {
    text-align: center;
    /* text position in center*/
    background-color: #055135;
    /* Green background */
    border: 5px solid rgb(255, 255, 255);
    /* Green border */
    color: rgb(0, 0, 0);
    /* black text */
    padding: 50px 0px;
    /* Some padding */
    font-size: xx-large;
    /* text size xx-large*/
}
/*Header*/
h1 {
    color: white;
}
/*style for the answer options*/
#quiz {
     background-color: rgb(255, 255, 255);
     font-size: x-large;
 }
/*submit button yellow background color*/
#submit {
      background: yellow;
     }
/*retry button red background color*/
#retry { 
  background: rgb(227, 10, 10);
}
/* showanswer button background color blue*/
#showAnswer {
    background: blue;
}
 /* all button style and sizing*/
 .button {
     margin: 3px;
     border-radius: 8px;
     font-size: x-large;
 }